body {
  background-color: #FFCCFF;
}

p {
  color: black;
  font-family: Tahoma;
  font-size: 12px;
  margin-top: -10px;
}

h1 {
  font-family: Trebuchet MS;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: -15px;
}

h2 {
  font-size: 25px;
}

h3 {
  background-color: pink;
  color: #FF0099;
  font-family: Tahoma;
  font-size: 12px;
  margin-top: 5px;
  padding: 1px;
}

a {
  color: black;
  text-decoration: none;
}

li {
  font-family: Tahoma;
  font-size: 12px;
}

ul {
  margin-top: -10px;
}

.main {
  width: 500px;
}

.main-header {
  background-color: pink;
  font-family: Arial;
  margin-top: -34px;
  margin-bottom: 0px; 
  margin-left: 250px;
  margin-right: 250px; 
  padding-bottom: 10px;
  text-align: center;
}

.main-paragraphs {
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.main-right {
  float: right;
}

.content {
  text-align: left;
  background-color: white;
}

#main-content {
  padding: 5px;
  background-color: white;
  text-align: center; 
  margin-left: 250px;
  margin-right: 250px;
}

#nav {
  background-color: white;
  border-radius: 10px;
  border-style: none;
  border-width: 1px;
  font-size: 12px;
  font-family: Verdana;
  margin: 10px;
  padding: 5px;
}