p {
  font-size: 12px;
  color: black;
  font-family: Arial;
}

.main {
  width: 500px;
}

.main-header {
  font-family: Arial;
  background-color: pink;
  text-align: center;
}

h3 {
  font-size: 12px;
  color: purple;
  font-family: Tahoma;
}

a {
  color: black;
  text-decoration: none;
}

.main-paragraphs {
  font-size: 14px;
  color: black;
  font-weight: bold;
}

.main-right {
  float: right;
}

.Content {
  text-align: left;
  margin-left: 250px;
  margin-right: 250px;
}

#MainContent {

  margin-right: auto; 
  margin-left: auto;
  text-align: center; 
}