body {
	background-color: pink;
}

h1 {
	font-family: 'Trebuchet MS', Helvetica, Sans-Serif;
	text-align: center;
	background-color: #FFCCFF;
	font-size: 50px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#main {
	margin-left: 300px;
	margin-right: 300px;
	background-color: white;
	position: absolute;
	float: center;
}

#nav {
	height: 100px;
}

.thumbNail {
	display: inline-block;
	height: 100px;
	width: 140px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 10px;
	cursor: pointer;
}

.thumbNail:hover {
	opacity: .75;
}

.thumb {
	height: 100px;
	width: 140px;
	border-radius: 10px;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}

#mainPhoto {
	padding-top: 10px;
	margin: 10px;
	width: 600px;
	height: 400px;
}

#buttons {
	text-align: center;
	cursor: pointer;
}