body {
	font-family: Trebuchet MS;
}

h1 {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 5px;
}

.light {
	background-color: black;
	border: 5px solid white;
	border-radius: 50%;
	height: 150px;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.button {
  border: 1px solid grey;
  background-color: grey;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;

}

.button:hover {
	background-color: #FFCC00;
	color: white;
}

#trafficLight {
	background-color: #FFCC00;
	border-radius: 25px;
	height: 525px;
	width: 250px;
	padding-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

#buttonControls {
	width: 250px;
	padding-top: 25px;
	margin-left: auto;
	margin-right: auto;
}