body {
	background-color: white;
	margin: 50px;
	font-family: 'Lato', sans-serif;
	padding-left: 25px;
	padding-right: 25px;
}

h1 {
	color: red;
}

h2 {
	color: black;
}

h3 {
	color: grey;
}

nav {
	text-align: left;
	margin-left: -5px;
}

a {
	color: grey;
	padding: 5px;
}

div {

}

.header {
	text-align: left;

}

.first-letter {
	font-size: 50px;
	float: left;
	color: grey;
	padding-right: 5px;
	padding-bottom: 5px;
}