body {
	background-color: white;
	margin: 50px;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	padding-left: 25px;
	padding-right: 25px;
}

h1 {
	color: red;
	font-weight: normal;
	font-size: 3em;
}

h2 {
	color: black;
	font-weight: normal;
}

h3 {
	color: black;
	font-weight: normal;
	font-size: 1.5em;
}

a {
	color: red;
	padding-bottom: 5px;
	font-weight: normal;
	text-decoration: none;
}

p {
	font-weight: normal;
}

div {

}

img {
	max-height: 285px;
	max-width: 685px;
}

hr {
	border: 0;
	height: 1px;
	background: #E0E0E0;
	width: 685px;
	margin-left: 0;
	margin-bottom: 50px;

}

.header {
	text-align: left;
	margin-bottom: 60px;

}

.header-nav a {
	color: #E0E0E0;
	font-weight: normal;
	font-size: 1.25em;
	padding-bottom: 5px;
	border-bottom: 1px solid #E0E0E0;
	text-decoration: none;
	margin-right: 25px;
	/* This replaces nav and a tags */
}

.first-letter {
	font-size: 100px;
	font-weight: normal;
	float: left;
	color: grey;
	padding-right: 5px;
	padding-bottom: 0px;
	color: #E0E0E0;
}

.content {
	width: 685px;
}

.date {
	color: #E0E0E0;
	margin-bottom: 0px;
}

.continue {
	text-align: right;
	font-weight: bold;
}

.footer {
	color: #E0E0E0;
	font-weight: normal;
}